article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  squash =    #f2a11c
    darkergrey= #1f2022
    darkgrey=   #4a4a4a
    white=      #ffffff
    lightgrey=  #f4f4f4
     */

html{
    font-size: 125%;
}

*{

    margin:0;
    padding:0;
}

header{
    max-width: 1600px;
    min-height:100vh;
    background-image: url("Images/image-1.jpg");
    background-position: center center;
    background-size: cover;
}

button{
    background: black;
    color: #f2a11c;
    border: none;
    font-family: 'Catamaran',sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    width:160px;
    height: 50px;
}

.navbar{
    width: 100%;
    max-width: 1600px;
    text-align: center;
    padding-top: 20px;
}

.header{
    max-width: 1600px;
    height:90vh;
}

.title{
    width:90%;
    float:left;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.social-media{
    width: 10%;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.social-media i{
    color:#f2a11c
}

ul{
    list-style-type: none;
    margin: 0 auto;
}

li{
    display: inline;
    padding: 0 20px;
    text-align:center;
}

a{
    color: #f4f4f4;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

h1{
    color: #f2a11c;
    font-family:'Pacifico', cursive;
    text-transform: capitalize;
    font-size: 12vw;
    text-align: center;
}

h2{
    font-family:'Pacifico',cursive;
    text-transform: capitalize;
    text-align: left;
}

p{
    font-family: 'Catamaran',sans-serif;
    text-align: left;
    width: 100%;
}

.social-media li{
    display: block;
}

.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.wrap{
    margin: 0 auto;
    
}
.about{
    padding-left: 160px;
    padding-right: 120px;
}
.mission{
    padding-right: 160px;
    padding-left: 120px;
}
.about, .mission{
    width: 50%;
    float:left;
    height:600px;
    max-width: 100%;
    margin: 0 auto;
    

}


.about h2, .mission h2{
    margin-top:156px;
    margin-bottom: 20px;
}

.about-background {
    width: 50%;
    background: url(./Images/image-2.png);
    background-size:cover;
    background-position: center center;
    float:left;
    height:600px;

}

.mission-background{
    width:50%;
    height:600px;
    background:url(./Images/image-2-copy.jpg);
    background-size:cover;
    background-position: center center;
    float:left;
    

}

.greyarea{
    background: #f4f4f4;
}
.wrapper{
    max-width: calc(1600px - 320px);
    width: 100%;
    margin:0 auto;
    /* border:1px solid blue; */
}

.biker{
    padding:10% 0;
    margin:0 auto;
}
.biker-image{
    max-width: 315px;
    float:left;
    height:315px;
    
    
}
.biker-image img{
    width: 100%;
    max-width: 100%;    

}
.biker-desc{
    width:calc(70% - 40px);
    float:left;
    padding-left:40px;
    
}

.biker-desc p{
    padding-bottom: 15px;
    padding-top: 15px;
}
.biker-desc button{
    padding-top:10px;
    margin:0;
}

.blackarea{
    max-width: 100%;
    background: url(./Images/image-5.jpg);
    background-position: center center;
    background-size: cover;
    max-height: 498px;
    height: 100%;
}
.icons{
    margin:0 auto;
    text-align: center;
    height:40vh;
    color:#f2a11c;
    font-family: 'Catamaran',sans-serif;
    text-transform: capitalize;
    font-size: bold;
    
}
.icons i{
    color:white;
    font-size: 30px;
}

figure{
    display: inline-block;
    text-align: center;
    width: 20%;
    margin:0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.gallery-title h2{
width: 100%;
text-align: center;
margin: 0 auto;
border: 1px solid red;
margin: 10% 0;
}
.gallery{
    width: 100%;
    margin: 0 auto;
}

.gallery-item{
    float:left;
    width: 33%;
}

.footer-left{
    width: 50%;
    float:left;
    border: 1px solid brown;
}
.footer-right{
    width: 50%;
    float:left;
    border: 1px solid green;
}

footer{
    background: black;
    clear: both;
    color: white;
    padding-top: 60px;
}