article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  squash =    #f2a11c
    darkergrey= #1f2022
    darkgrey=   #4a4a4a
    white=      #ffffff
    lightgrey=  #f4f4f4
     */

html{
    font-size: 125%;
}

*{

    margin:0;
    padding:0;
}

header{
    max-width: 1600px;
    min-height:100vh;
    background-image: url("Images/image-1.jpg");
    background-position: center center;
    background-size: cover;
}

button{
    background: black;
    color: #f2a11c;
    border: none;
    font-family: 'Catamaran',sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    width:160px;
    height: 50px;
    font-size: 0.9rem;
}

.navbar{
    width: 100%;
    max-width: 1600px;
    text-align: center;
    padding-top: 20px;
}

.header{
    max-width: 1600px;
    height:90vh;
}

.title{
    width:90%;
    float:left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.social-media{
    width: 10%;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.social-media i{
    color:#f2a11c
}

ul{
    list-style-type: none;
    margin: 0 auto;
}

li{
    display: inline;
    padding: 0 20px;
    text-align:center;
}

a{
    color: #f4f4f4;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

h1{
    color: #f2a11c;
    font-family:'Pacifico', cursive;
    text-transform: capitalize;
    font-size: 12vw;
    text-align: center;
}

h2{
    font-family:'Pacifico',cursive;
    text-transform: capitalize;
    text-align: left;
}

p{
    font-family: 'Catamaran',sans-serif;
    text-align: left;
    width: 100%;
}

.social-media li{
    display: block;
}

.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.wrap{
    float: left;
    width: calc(50% - 210px);
    height: 68vh;
    margin-left:105px;
    margin-right: 105px;
    
}


.about, .mission{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    

}


.about h2, .mission h2{
    line-height: 68px;
}
.about p, .mission p{
    font-size: 1.3rem;
}

.about-background {
    width: 50%;
    background: url(./Images/image-2.png);
    background-size:cover;
    background-position: center center;
    float:right;
    min-height:68vh;

}

.mission-background{
    width:50%;
    min-height:68vh;
    background:url(./Images/image-2-copy.jpg);
    background-size:cover;
    background-position: center center;
    float:left;
    

}


.wrapper{
    max-width: calc(1600px - 320px);
    width: 100%;
    margin:0 auto;
    
    
}
.greyarea {
    background: #f4f4f4;
    height: 64vh;


}

.biker{
    margin:0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.biker-image{
    width: 30%;
    float:left;
    
}
.biker-image img{
    width: 100%;
    display:block;   

}
.biker-desc{
    width:calc(70% - 40px);
    float:left;
    padding-left:40px;
    
}
.biker-desc h2{
    font-size:2rem;
}

.biker-desc p{
    margin-top: 2%;
    margin-bottom: 6.5%;
        }

.biker-desc button{
    padding-top:10px;
    margin:0;
}

.blackarea{
    max-width: 100%;
    background: url(./Images/image-5.jpg);
    background-position: center center;
    background-size: cover;
}
.icons{
    margin:0 auto;
    text-align: center;
    height:40vh;
    color:#f2a11c;
    font-family: 'Catamaran',sans-serif;
    font-size: bold;
    clear:both;
    height: 58vh;
}
.icons i{
    color:white;
    font-size: 30px;
}

figure{
    display: inline-block;
    text-align: center;
    width: 20%;
    margin:0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

figcaption{
    font-size:1.4rem;
}

.photo-gallery {
    height: 84vh;
    
}
.gallery {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.gallery-title h2{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 2rem;
}


.gallery-item{
    width: calc((100% - 78px)/ 3);
    float:left;  



}

.gallery-item img{
width: 100%;
display: block;
    
    
    
}

.gallery-item:nth-of-type(3n + 1) {
    margin-left: 0;
    float: right;
}

.gallery-item:nth-of-type(3n) {
    margin-right: 0;
    margin-left: 39px;
}
footer {
    background: #1f2022;
    clear: both;
    color: #f4f4f4;
    max-width:1600px;
    padding-top:3%;

}

footer h2 {
    color: #f2a11c;
    line-height:70px;
}
.footer{
    margin: 5% 0;
}

.footer-left{
    width: 50%;
    float:left;
    line-height: 40px;
    font-family: 'Catamaran',sans-serif;
    
}

.footer-right{
    width: 50%;
    float:left;
}
.footer-right p{
    margin-bottom: 3%;
}

input{
    height:60px;
}
input[type=email] {
    font-family: 'Catamaran',sans-serif;
    width:75%;
    text-align: left;
    padding-left:20px;
}

input[type=submit]{
    color:black;
    background: #f2a11c;
    border: none;
    text-transform: uppercase;
    font-family: 'Catamaran',sans-serif;
    margin-left: -10px;
    font-weight: bold;
    width: 25%;
}

.copyright{
    clear:both;
    color: #4a4a4a;
    text-align: center;
    background: black;
    font-family: 'Catamaran',sans-serif;
    word-spacing: 20%;
}
@media only screen and (max-width: 1024px) {
    .about p,
    .mission p {
        font-size: 1em;
    }
    .wrapper {
        width: 90%;
        
    }
    .biker-image {
        margin-top: 10%;
        
    }
    input[type="submit"] {
        margin-left: 0;
        width: 75%;
    }
}
@media only screen and (max-width: 1100px){
    .wrapper {
        width: 90%;
    }
    .biker-image {
        margin-top: 5%;
    }

}
@media only screen and (max-width: 980px){
    .wrapper {
        width: 90%;
    }
    .biker {
        height: 76vh;
        padding-top: 4%;

    }
    .biker-image {
        margin-top: 10%;
    }
    .biker-desc h2 {
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .biker-desc p {
        margin-top: 2%;
        margin-bottom: 4.5%;
        font-size: 0.9rem;
    }
    input {
        margin-bottom: 2%;
        padding: 0;
    }
}

@media only screen and (max-width: 850px){
.about p,
.mission p {
    font-size: 0.9rem;

}
input {
    margin-bottom: 2%;
    padding: 0;
}
}

@media only screen and (max-width: 780px){
    .wrap{
    width: 69%;
    height: 40vh;

    }
    .biker-image {
        width: 40%;
        margin-top: 16%;
    }
    .biker-desc {
        width: 60%;
    }
    .biker-desc p {
        font-size: 0.8rem;
    }
    .about, .mission{
        text-align: center;
    }
    .about p,
    .about h2,
    .mission p,
    .mission h2{
        text-align: center;
    }
    .about-background {
        min-height: 45vh;
        float:none;
        width:100%;
    }
    .mission-background{
        width: 100%;
        min-height: 45vh;
    }
    .greyarea {

        height: 121vh;
        padding-bottom: 6%;

    }
    .biker {
    height: 107vh;
    padding-top: 4%;
    width: 100%;
    text-align: center;

    }
    .biker-image {
    width: 70%;
    float: none; 
    margin: 0 auto;
    margin-top: 0px;
    }
    .biker-desc{
    margin: 0 auto;
    float:none;
    padding:0;
    }
    .biker-desc h2{
    text-align: center;
    }
    .biker-desc p{
    font-size: 0.9rem;
    padding:0;
    }
    figure{
    top: 21%;
    display: block;
    padding-top: 12px;
    }
    .icons{
    height: 54vh;
    }
    figcaption {
    font-size: 1.3rem;

    }
    .photo-gallery {
        height: 45vh;

    }
    input[type="submit"] {
        width: 100%;
    }
    input[type="email"] {
        width: 100%;
        text-align: center;
    }
    .footer-left {
        float:none;
        width: 100%;
        text-align: center;
    }
    .footer-left h2,
    .footer-right h2,
    .footer-right p{
        text-align: center;

    }
    .footer-right {
        width: 100%;
        float: none;
        text-align: center;
        text-align: center;

    }
    input {
        margin-bottom: 2%;
        padding: 0;
    }

}
@media only screen and (max-width: 500px){

    .wrap {

        width: 60%;
        height: 44vh;

    }
    button{
        margin-top: 12px;
    }

    .greyarea {
        height: 131vh;
    }
    .biker {

        height: 111vh;
    }
    .icons {
    height: 34vh;
    margin-bottom: 5%;
    }
    figcaption{
        font-size: 1rem;
    }
    .photo-gallery {
        height: 33vh;
    }
    .photo-gallery h2{
        font-size: 1.5rem;
    }
    .photo-gallery {
        margin-bottom: 7%;
    }
    .gallery-item:nth-of-type(3n+1) {
        margin-left: 0;
        float: right;
        display: none;

    }

    .gallery-item {
        width: calc((100% - 40px)/ 2);
        float: left;

    }
    input {
        margin-bottom: 2%;
        padding: 0;
    }

}

@media only screen and (max-width: 430px){
    .wrap {
        float:none;
        width: 100%;
        height: 45vh;
        margin: 0 auto;

    }
    .mission{
        position: static;
        top: 0;
        transform: translateY(0%);
        margin: 0 auto;
    }

    .greyarea {
        height: 170vh;
    }
    .biker{
        height: auto;
        top: 0;
        transform: translateY(36%);
        margin: 0 auto;
    }
    .biker-desc {

        width: 90%;

    }
    input{
        margin-bottom: 2%;
        padding:0;
    }
}